/* Fonts and Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: var(--gg-white);
  color: var(--gg-black);
}

/* CSS HEX */
/* --timberwolf: #D0D5D5ff; */
/* --white: #FFFFFFff; */
/* --moonstone: #46A8BDff; */
/* --dim-gray: #686666ff; */
/* --midnight-green: #054954ff; */

:root {
  --gg-primary: #054954ff;
  --gg-secondary: #46a8bdff;
  --gg-dark-gray: #686666ff;
  --gg-light-gray: #d0d5d5ff;
  --gg-gray: #f4f4f4;
  --gg-white: #ffffffff;
  --gg-black: #000000;
}

/* Padding Top Css */
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-70 {
  padding-top: 70px;
}
/* Padding Bottom Css */
.pb-20 {
  padding-bottom: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-70 {
  padding-bottom: 70px;
}
/* Margin Top Css */
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-70 {
  margin-top: 70px;
}
/* Margin Bottom Css */
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-70 {
  margin-bottom: 70px;
}
/* Navbar */
/* .main-navbar {
  background-color: var(--gg-dark-gray);
  padding: 10px 0;
  } */
.main-navbar {
  position: relative; /* normal position initially */
  width: 100%;
  z-index: 999;
  /* background-color: var(--gg-dark-gray); */
  background-color: var(--gg-primary);
  transition: all 0.5s ease-in-out;
  padding: 10px 0;
}

/* Sticky version after scroll */
.main-navbar.sticky-active {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  animation: slideDown 0.9s forwards;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
@keyframes slideDown {
  to {
    top: 0;
  }
}
.container {
  max-width: 96%;
}
.logo {
  width: 100%;
  height: auto;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 24px; */
  /* font-weight: 600; */
}
.logo img {
  width: 300px;
}
.logomenu,
.navmenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.logomenu .logo {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-social {
  display: inline-flex;
  gap: 15px;
  padding: 0;
}

.top-social a {
  color: var(--gg-white);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: inline-flex;
  gap: 40px;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}
.nav-links li:hover a {
  color: var(--gg-secondary);
  transition: all 0.3s ease-in-out;
}

.navmenu ul li .sub-menu {
  position: absolute;
  gap: 0;
  top: 80%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  min-width: 220px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  /* background: var(--gg-dark-gray); */
  background: var(--gg-secondary);
  transition: all 0.4s ease;
  z-index: 4;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.navmenu ul li:hover > .sub-menu {
  pointer-events: inherit;
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.dropdown-item {
  text-transform: none !important;
  padding: 8px 15px;
  border-top: 1px solid var(--gg-gray) !important;
  display: block;
  width: 100%;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: var(--gg-white) !important;
}
.dropdown-item:hover {
  background-color: var(--gg-primary) !important;
  color: var(--gg-white) !important;
}
/* Hero Section */
.slider .carousel-item {
  height: 550px;
}

.carousel-caption {
  bottom: 30%;
  position: absolute;
  left: 10%;
  right: auto;
  z-index: 1;
  text-align: left;
  padding: 0;
}
.carousel-caption h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}
.carousel-caption h3 {
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.slider .carousel-item::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(0 0 0 / 50%);
}
.s-btn {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: var(--gg-secondary);
}
.s-btn a {
  text-decoration: none;
  color: white;
}
.s-btn:hover {
  background-color: var(--gg-primary);
  transition: all 0.2s ease-in-out;
}
.style-btn a,
.style-btn button {
  color: var(--gg-white);
  background: var(--gg-secondary);
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid var(--gg-secondary);
  border-radius: 5px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.style-btn a::after,
.style-btn button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: 0.5s;
  background: var(--gg-white);
  z-index: -1;
}
.style-btn a:hover,
.style-btn button:hover {
  border: 2px solid var(--gg-secondary);
  color: var(--gg-secondary);
}
.style-btn a:hover::after,
.style-btn button:hover::after {
  width: 100%;
  border-radius: 5px;
}
/* About Us */
.aboutus-sction {
  /* background-color: var(--gg-gray); */
}
.abt-img img,
.wcu-img img {
  width: 100%;
}
.gg-sction-subtitle h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--gg-secondary);
  letter-spacing: 2px;
  font-weight: 600;
}
.gg-sction-maintitle h2 {
  font-size: 36px;
  color: var(--gg-primary);
  font-weight: 700;
}
.gg-sction-maintitle {
  margin-bottom: 30px;
}
.abt-text p {
  font-size: 18px;
  color: var(--gg-black);
  font-weight: 600;
}
/* Our Service Section */
.ourservice-sction {
  position: relative;
  z-index: 1;
}
.ourservice-sction-bg {
  position: absolute;
  background-image: url(images/ourservice/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
}
.ourservice-single-card {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 30px;
  /* height: 400px; */
}
.ourservice-single-card img {
  width: 100%;
  height: 100%;
}
.ourservice-single-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(49%, rgba(0, 0, 0, 0)),
    color-stop(99%, rgba(0, 0, 0, 0.98)),
    to(rgba(0, 0, 0, 1))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 49%,
    rgba(0, 0, 0, 0.98) 99%,
    rgba(0, 0, 0, 1) 100%
  );
}
.ourservice-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--gg-primary);
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 25px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease,
    -webkit-transform 500ms ease;
}
.ourservice-hover-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 11;
  padding-left: 40px;
  padding-bottom: 35px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: opacity 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease;
  transition: transform 500ms ease, opacity 500ms ease,
    -webkit-transform 500ms ease;
}
.ourservice-content h3,
.ourservice-hover-content h3 {
  color: var(--gg-white);
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
}
.ourservice-hover-content h3 a,
.ourservice-content h3 a {
  color: inherit;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-decoration: none;
}
.ourservice-single-card:hover .ourservice-content {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.ourservice-single-card:hover .ourservice-hover-content {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
.service-arrow-link {
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--gg-primary);
  position: absolute;
  right: 30px;
  bottom: 25px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: var(--gg-white);
}
.service-arrow-link:hover {
  background-color: var(--gg-secondary);
  color: var(--gg-white);
}
/* Why Choose US Section*/
.wcu-lists ul {
  padding-left: 0;
}
.wcu-lists ul li {
  text-decoration: none;
  list-style: none;
}
.wcu-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gg-gray);
  padding-bottom: 5px;
}
.wcu-list-item:hover {
  border-bottom: 1px solid var(--gg-dark-gray);
}
.wcu-list-content h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.wcu-list-icon {
  font-size: 16px;
  width: 30px;
  display: inline-block;
  color: var(--gg-white);
  background: var(--gg-secondary);
  height: auto;
  line-height: 20px;
  padding: 5px 0;
  text-align: center;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.wcu-list-item:hover .wcu-list-icon {
  transform: translateX(5px);
  background-color: var(--gg-primary);
  transition: all 0.3s ease-in-out;
}
/* Get In Touch Section */
.git-sction {
  background-image: url(./images/git/gitbg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.git-sction .gg-sction-subtitle h2 {
  color: var(--gg-primary);
}
.git-sction-form {
  padding: 30px;
  backdrop-filter: blur(2px);
  background: rgb(255 255 255 / 30%);
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  border: none;
  height: 50px;
}
.form-group textarea {
  height: 170px;
}
input:focus-visible,
textarea:focus-visible {
  outline: 1.8px solid var(--gg-secondary);
}
/* Testimonial Section */
.testimonial-sction {
  background-color: var(--gg-secondary);
}
.testimonial-sction .gg-sction-subtitle h2,
.testimonial-sction .gg-sction-maintitle h2 {
  color: var(--gg-white);
}
.testi-content {
  background-color: var(--gg-primary);
  padding: 30px 30px;
  border-radius: 10px;
  text-align: center;
  color: var(--gg-white);
}
.testi-profile {
  display: inline-flex;
  align-items: center;
}
.testi-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
.testi-icon img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}
.testi-name h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.testi-country h4 {
  font-size: 16px;
  margin-bottom: 0;
}
/* .swiper-button-prev::after, 
.swiper-button-next::after{
  font-size: 20px;
  color: white;
}
.swiper-button-prev {
  left: 5px;
}
.swiper-button-next {
  right: 5px;
} */
.swiper-pagination-bullet-active {
  background: var(--gg-secondary);
}
/* Fun Fact Section */
.ff-sction {
  background-image: url(./images/funfact/ffimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.ff-sction::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.ff-banner-col {
  -webkit-box-flex: 1;
  flex: 1 1 25%;
  max-width: 25%;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}
.ff-banner-box {
  position: relative;
  border: 2px dashed var(--gg-secondary);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  transform: translateY(0);
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  margin-bottom: 30px;
}
.ff-banner-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 15px solid var(--gg-white);
  z-index: 10;
}
.ff-banner-box:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.ff-banner-box.ffbox1 {
  background: url(./images/funfact/ff1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ff-banner-box.ffbox2 {
  background: url(./images/funfact/ff2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ff-banner-box.ffbox3 {
  background: url(./images/funfact/ff3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ff-banner-box.ffbox4 {
  background: url(./images/funfact/ff4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ff-banner-box .ff-label {
  padding: 25px;
  background-color: #333;
  opacity: 0.8;
}
.ff-label h3 {
  text-align: center;
  color: var(--gg-secondary);
  font-size: 60px;
  font-weight: 400;
}
.ff-label p {
  text-align: center;
  color: var(--gg-secondary);
  font-size: 20px;
}
/* Blog Section */
.blog-card {
  padding: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  transition: 0.5s;
}
.blog-card:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.blog-card-img img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.blog-card-content {
  text-align: center;
  padding: 20px 24px 0;
}
.blog-card-title h3 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.blog-card-text p {
  font-size: 18px;
}
.blog-card-button.style-btn a {
  display: block;
}
.blog-card-button.style-btn a svg {
  font-size: 12px;
}
/* Call Banner Section */
.ctaalign {
  align-items: center;
}
.call-banner-sction {
  background-image: url(./images/cta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.call-banner-sction::after {
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--gg-black);
  opacity: 0.4;
  z-index: -1;
}
.call-banner-text {
  color: var(--gg-white);
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}
.call-banner-text svg {
  font-size: 40px;
  color: var(--gg-secondary);
  margin-right: 5px;
}
.call-banner-cnow {
  display: inline-block;
  padding: 10px 20px;
  border: 2px dashed var(--gg-secondary);
  border-radius: 5px;
  font-size: 16px;
  transition: 0.5s;
  text-transform: uppercase;
}
.call-banner-cnow a {
  color: var(--gg-white);
  text-decoration: none;
}
.call-banner-cnow:hover {
  background-color: var(--gg-secondary);
  transition: 0.5s;
}
.call-banner-btn.style-btn a {
  text-transform: uppercase;
}
/* Footer Section */
footer {
  padding: 70px 0 0;
  background-color: var(--gg-primary);
  color: var(--gg-white);
}
.footer-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.f-menu-links,
.footer-contact-list {
  padding-left: 0;
}
.f-menu-links li,
.footer-contact-list li {
  list-style: none;
  margin-bottom: 5px;
}
.f-menu-links li a:hover{
  color: var(--gg-secondary);
  transition: 0.3s;
}
.f-menu-links li a{
  color: white;
  text-decoration: none;
}
.footer-contact-list svg{
  margin-right: 10px;
}
.footer-contact-list a{
  color: var(--gg-white);
  text-decoration: none;
}
.footer-contact-list li:hover,
.footer-contact-list li:hover a{
  color: var(--gg-secondary); 
  transition: 0.3s;
}
.footer-contact-social{
  display: flex;
  gap: 10px;
}
.footer-contact-social a{
  width: 40px;
  height: 40px;
  color: var(--gg-secondary);
  background-color: var(--gg-white);
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease-out;
}
.footer-contacts-item{
  margin-bottom: 30px;
}
.footer-contact-social a:hover{
  transform: translateY(6px);
  transition: 0.3s ease-out;
  background-color: var(--gg-secondary);
  color: var(--gg-white);
}
.footer-bottom{
  border-top: 1px solid var(--gg-white);
  padding: 10px 0;
  margin-top: 20px;
}
.footer-bottom p{
  margin-bottom: 0;
}
.fbottom-right p{
  text-align: right;
}
.fbottom-right p a{
  color: var(--gg-white);
  text-decoration: none;
}
